<section class="container content-section">
    <div *ngIf="currentUser != null || undefined; else loggedOut">
        <h2 class="section-header">CART</h2>
        <app-shopping-list [currentCart]="shoppingCart" [sender]="shoppingListType"></app-shopping-list>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-purchase" type="button" (click)="onPurchase()">PURCHASE</button>
                <button class="btn btn-success btn-clear" type="button" (click)="onClearCart()">CLEAR</button>
            </div>
        </div>
    </div>
    <ng-template #loggedOut class="container content-section">
        <br><hr>
        <h1>Please register or login in order to access the shopping cart.</h1>
        <hr>
        <button class="btn btn-primary btn-purchase" type="button" (click)="onLogin()">Login/Register</button>
    </ng-template>
</section>