<div (mouseenter)="hoverOn()" 
     (mouseleave)="hoverOff()" 
     [ngStyle]="{'background-color' : currentTour.sold ? 'lightgray' : 'transparent' }">
    <span class="tour-item tour-date">{{currentTour.date}}</span>
    <span class="tour-item tour-city">{{currentTour.location}}</span>
    <span class="tour-item tour-arena">{{currentTour.arena}}</span>
    <button type="button" 
            class="tour-item tour-btn btn btn-primary" 
            (click)="onBuyTicket(currentTour)"
            *ngIf="!currentTour.sold">BUY TICKETS</button>
    <span [ngClass]="isHovering && !currentTour.sold ? 'balloon' : 'timeLeft'">time left: {{countDown(currentTour.date)}}</span>
    <hr>
</div>