<header class="main-header">
    <nav class="nav main-nav">
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/store">STORE</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/cart">CART</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/login">LOGIN/REGISTER</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/about">ABOUT</a>
            </li>
            <li *ngIf="getUserAuthLevel() === 2">
                <a routerLinkActive="active" routerLink="/admin">ADMIN</a>
            </li>
        </ul>
    </nav>
    <app-header></app-header>
</header>