<section class="container content-section">
    <h2 class="section-header">MUSIC</h2>
    <app-albums-list class="shop-items"></app-albums-list>
</section>
<section class="container content-section">
    <h2 class="section-header">MERCHANDISE</h2>
    <app-merch-list class="shop-items"></app-merch-list>
</section>
<section class="container content-section">
    <h2 class="section-header">SHOPPING LIST</h2>
    <app-shopping-list [currentCart]="cartItems" [sender]="'STORE'"></app-shopping-list>
    <button class="btn btn-primary btn-purchase" type="button" (click)="onAddToCart()">ADD TO CART</button>
</section>