<div class="row container">
    <h2 class="section-header">Login/Register</h2>
    <div class="col-xs-12 col-md-12 col-md-offset-8">
        <div class="radio-container">
            <label for="login" id="login-label">LOGIN</label>
            <input type="radio" id="login" name="loginToggle" (click)="onToggleLogin()">
            <label for="login" id="register-label">REGISTER</label>
            <input type="radio" id="register" name="loginToggle" (click)="onToggleRegister()">
        </div>
        <form #loginForm="ngForm" class="form-group" (ngSubmit)="onSubmit()">
            <div ngModelGroup="formGroup" class="form-container">
                <div *ngIf="radioValue === 'Register'">
                    <div>
                        <label for="userName">User Name</label>
                        <input type="text" id="userName" class="form-control" ngModel name="userName">
                        <hr>
                    </div>
                    <div>
                        <label for="dob">Date of Birth</label>
                        <input type="date" id="dob" class="form-control" ngModel name="dob">
                        <hr>
                    </div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" ngModel name="email">
                    <hr>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel name="password">
                    <hr>
                </div>
                <button type="Submit" class="btn btn-primary btn-purchase">Go</button>
            </div>
        </form>
    </div>
</div>