div>input {
    width: 180px;
    border: 3px inset rgb(236, 230, 230);
}

input.ng-invalid.ng-touched {
    border: 3px inset rgb(249, 224, 224);
}

.container {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.radio-container {
    display: flex;
    padding-bottom: 4%;
    margin-top: 3%;
}

#login-label {
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 1%;
}

#register-label {
    margin-right: -5%;
    margin-top: 1%;
}

.btn-purchase {
    margin-bottom: 3%;
    margin-top: 0%;
    padding: 5px;
    width: 180px
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 30%;
    padding: 3%;
    margin-top: 1%;
    background-image: linear-gradient(45deg, rgb(229, 230, 230), transparent);
}

.section-header {
    margin-right: 1.5%;
}