<div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
</div>
<div class="cart-items" *ngFor="let cart of cartItems">
    <app-shopping-list-item [cartItems]="cartItems" [cart]="cart"></app-shopping-list-item>
</div>
<app-shopping-list-total></app-shopping-list-total>
<button class="btn btn-primary btn-purchase" type="button" (click)="onPurchase()">ADD TO CART</button>