<div class="cart-row">
    <span class="cart-item cart-header cart-column">ITEM</span>
    <span class="cart-price cart-header cart-column">PRICE</span>
    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
</div>
<div class="cart-items" *ngFor="let cart of cartItems">
    <div class="cart-row">
        <div class="cart-item cart-column">
            <img class="cart-item-image" src="{{cart.item.image}}" width="100" height="100">
            <span class="cart-item-title">{{cart.item.title}}</span>
        </div>
        <span class="cart-price cart-column">${{cart.item.price}}</span>
        <div class="cart-quantity cart-column">
            <input class="cart-quantity-input" type="number" value="{{cart.quantity}}"
                (lostpointercapture)="onChangeQuantityInCart(cart, +cart.quantity)">
            <button class="btn btn-danger" type="button" (click)="onRemoveFromCart(cart)">
                REMOVE
            </button>
        </div>
    </div>
</div>
<div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">${{getCartTotal().toFixed(2)}}</span>
</div>
<button class="btn btn-primary btn-purchase" type="button" (click)="onPurchase()">
    PURCHASE
</button>